<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>Card</h1>
            <p>Card is a section to group content and layout provides a built-in css for it. Apply .card style class to your container to use it. If the
            card has a title defined with h1 tag, add card-w-title to adjust paddings.</p>
            <pre>
                &lt;div class="card"&gt;
                    Content here
                &lt;/div&gt;

                &lt;div class="card card-w-title"&gt;
                    &lt;h1&gt;Card with Title&lt;h1&gt;
                    Content here
                &lt;/div&gt;
            </pre>

            <div class="card">
                Content
            </div>

            <div class="card card-w-title">
                <h1>Card with Title</h1>
                Content
            </div>

            <h1>Input Animations</h1>
            <p>Label of an input can be animated on focus by wrapping both the input and label in an element with md-inputfield style class.</p>
            <br />

            <span class="md-inputfield">
                <input type="text" pInputText>
                <label>Name</label>
            </span>

            <pre>
                &lt;span class="md-inputfield"&gt;
                    &lt;input type="text" pInputText&gt;
                    &lt;label>Name&lt;/label&gt;
                &lt;/span>
            </pre>

            <h1>Shadows</h1>
            <p>5 levels of shadows are provided varying from ui-shadow-1 to ui-shadow-5 to define the level of depth.</p>

            <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                    <div class="shadow-box"></div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="shadow-box ui-shadow-1"></div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="shadow-box ui-shadow-2"></div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="shadow-box ui-shadow-3"></div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="shadow-box ui-shadow-4"></div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="shadow-box ui-shadow-5"></div>
                </div>
            </div>
            <pre>
                &lt;div class="ui-g"&gt;
                    &lt;div class="ui-g-12 ui-md-2"&gt;
                        &lt;div class="shadow-box"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="ui-g-12 ui-md-2"&gt;
                        &lt;div class="shadow-box ui-shadow-1"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="ui-g-12 ui-md-2"&gt;
                        &lt;div class="shadow-box ui-shadow-2"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="ui-g-12 ui-md-2"&gt;
                        &lt;div class="shadow-box ui-shadow-3"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="ui-g-12 ui-md-2"&gt;
                        &lt;div class="shadow-box ui-shadow-4"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="ui-g-12 ui-md-2"&gt;
                        &lt;div class="shadow-box ui-shadow-5"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </pre>

            <h1>Icons</h1>
            <p><a href="https://design.google.com/icons/">All material icons</a> have been ported
                using <i>ui-icon-</i> convention. To use an icon within a component
                such as button below, define it using the icon attribute prefixed by <i>ui-icon-</i>.</p>

                <div style="text-align:center;margin-bottom:16px;">
                    <button type="button" pButton label="ui-icon-check" icon="ui-icon-check"></button>
                </div>

                <pre>
                &lt;button type="button" pButton label="ui-icon-check" icon="pi pi-accessibility"&gt;&lt;/button&gt;
                </pre>

                <div class="ui-g icon-grid">
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-3d_rotation"></i>3d_rotation</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-ac-unit"></i>ac-unit</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-access-alarm"></i>access-alarm</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-access-alarms"></i>access-alarms</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-access-time"></i>access-time</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-accessibility"></i>accessibility</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-accessible"></i>accessible</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-account-balance"></i>account-balance</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-account-balance-wallet"></i>account-balance-wallet</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-account-box"></i>account-box</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-account-circle"></i>account-circle</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-adb"></i>adb</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add"></i>add</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-a-photo"></i>add-a-photo</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-alarm"></i>add-alarm</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-alert"></i>add-alert</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-box"></i>add-box</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-circle"></i>add-circle</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-circle-outline"></i>add-circle-outline</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-location"></i>add-location</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-shopping-cart"></i>add-shopping-cart</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-to-photos"></i>add-to-photos</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-add-to-queue"></i>add-to-queue</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-adjust"></i>adjust</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-flat"></i>airline-seat-flat</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-flat-angled"></i>airline-seat-flat-angled</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-individual-suite"></i>airline-seat-individual-suite</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-legroom-extra"></i>airline-seat-legroom-extra</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-legroom-normal"></i>airline-seat-legroom-normal</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-legroom-reduced"></i>airline-seat-legroom-reduced</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-recline-extra"></i>airline-seat-recline-extra</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airline-seat-recline-normal"></i>airline-seat-recline-normal</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airplanemode-active"></i>airplanemode-active</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airplanemode-inactive"></i>airplanemode-inactive</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airplay"></i>airplay</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-airport-shuttle"></i>airport-shuttle</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-alarm"></i>alarm</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-alarm-add"></i>alarm-add</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-alarm-off"></i>alarm-off</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-alarm-on"></i>alarm-on</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-album"></i>album</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-all-inclusive"></i>all-inclusive</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-all-out"></i>all-out</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-android"></i>android</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-announcement"></i>announcement</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-apps"></i>apps</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-archive"></i>archive</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-back"></i>arrow-back</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-downward"></i>arrow-downward</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-drop-down"></i>arrow-drop-down</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-drop-down-circle"></i>arrow-drop-down-circle</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-drop-up"></i>arrow-drop-up</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-forward"></i>arrow-forward</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-arrow-upward"></i>arrow-upward</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-art-track"></i>art-track</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-aspect-ratio"></i>aspect-ratio</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assessment"></i>assessment</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assignment"></i>assignment</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assignment-ind"></i>assignment-ind</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assignment-late"></i>assignment-late</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assignment-return"></i>assignment-return</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assignment-returned"></i>assignment-returned</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assignment-turned-in"></i>assignment-turned-in</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assistant"></i>assistant</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-assistant-photo"></i>assistant-photo</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-attach-file"></i>attach-file</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-attach-money"></i>attach-money</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-attachment"></i>attachment</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-audiotrack"></i>audiotrack</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-autorenew"></i>autorenew</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-av-timer"></i>av-timer</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-backspace"></i>backspace</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-backup"></i>backup</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-battery-alert"></i>battery-alert</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-battery-charging-full"></i>battery-charging-full</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-battery-full"></i>battery-full</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-battery-std"></i>battery-std</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-battery-unknown"></i>battery-unknown</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-beach-access"></i>beach-access</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-beenhere"></i>beenhere</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-block"></i>block</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bluetooth"></i>bluetooth</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bluetooth-audio"></i>bluetooth-audio</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bluetooth-connected"></i>bluetooth-connected</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bluetooth-disabled"></i>bluetooth-disabled</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bluetooth-searching"></i>bluetooth-searching</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-blur-circular"></i>blur-circular</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-blur-linear"></i>blur-linear</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-blur-off"></i>blur-off</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-blur-on"></i>blur-on</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-book"></i>book</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bookmark"></i>bookmark</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bookmark-border"></i>bookmark-border</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-all"></i>border-all</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-bottom"></i>border-bottom</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-clear"></i>border-clear</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-color"></i>border-color</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-horizontal"></i>border-horizontal</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-inner"></i>border-inner</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-left"></i>border-left</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-outer"></i>border-outer</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-right"></i>border-right</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-style"></i>border-style</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-top"></i>border-top</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-border-vertical"></i>border-vertical</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-branding-watermark"></i>branding-watermark</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-1"></i>brightness-1</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-2"></i>brightness-2</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-3"></i>brightness-3</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-4"></i>brightness-4</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-5"></i>brightness-5</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-6"></i>brightness-6</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-7"></i>brightness-7</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-auto"></i>brightness-auto</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-high"></i>brightness-high</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-low"></i>brightness-low</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brightness-medium"></i>brightness-medium</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-broken-image"></i>broken-image</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-brush"></i>brush</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bubble-chart"></i>bubble-chart</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-bug-report"></i>bug-report</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-build"></i>build</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-burst-mode"></i>burst-mode</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-business"></i>business</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-business-center"></i>business-center</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cached"></i>cached</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cake"></i>cake</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call"></i>call</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-end"></i>call-end</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-made"></i>call-made</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-merge"></i>call-merge</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-missed"></i>call-missed</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-missed-outgoing"></i>call-missed-outgoing</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-received"></i>call-received</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-split"></i>call-split</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-call-to-action"></i>call-to-action</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-camera"></i>camera</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-camera-alt"></i>camera-alt</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-camera-enhance"></i>camera-enhance</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-camera-front"></i>camera-front</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-camera-rear"></i>camera-rear</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-camera-roll"></i>camera-roll</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cancel"></i>cancel</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-card-giftcard"></i>card-giftcard</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-card-membership"></i>card-membership</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-card-travel"></i>card-travel</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-casino"></i>casino</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cast"></i>cast</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cast-connected"></i>cast-connected</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-center-focus-strong"></i>center-focus-strong</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-center-focus-weak"></i>center-focus-weak</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-change-history"></i>change-history</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-chat"></i>chat</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-chat-bubble"></i>chat-bubble</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-chat-bubble-outline"></i>chat-bubble-outline</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-check"></i>check</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-check-box"></i>check-box</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-check-box-outline-blank"></i>check-box-outline-blank</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-check-circle"></i>check-circle</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-chevron-left"></i>chevron-left</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-chevron-right"></i>chevron-right</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-child-care"></i>child-care</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-child-friendly"></i>child-friendly</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-chrome-reader-mode"></i>chrome-reader-mode</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-class"></i>class</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-clear"></i>clear</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-clear-all"></i>clear-all</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-close"></i>close</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-closed-caption"></i>closed-caption</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud"></i>cloud</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud-circle"></i>cloud-circle</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud-done"></i>cloud-done</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud-download"></i>cloud-download</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud-off"></i>cloud-off</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud-queue"></i>cloud-queue</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-cloud-upload"></i>cloud-upload</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-code"></i>code</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-collections"></i>collections</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-collections-bookmark"></i>collections-bookmark</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-color-lens"></i>color-lens</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-colorize"></i>colorize</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-comment"></i>comment</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-compare"></i>compare</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-compare-arrows"></i>compare-arrows</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-computer"></i>computer</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-confirmation-number"></i>confirmation-number</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-contact-mail"></i>contact-mail</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-contact-phone"></i>contact-phone</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-contacts"></i>contacts</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-content-copy"></i>content-copy</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-content-cut"></i>content-cut</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-content-paste"></i>content-paste</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-control-point"></i>control-point</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-control-point-duplicate"></i>control-point-duplicate</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-copyright"></i>copyright</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-create"></i>create</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-create-new-folder"></i>create-new-folder</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-credit-card"></i>credit-card</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop"></i>crop</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-16-9"></i>crop-16-9</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-3-2"></i>crop-3-2</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-5-4"></i>crop-5-4</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-7-5"></i>crop-7-5</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-din"></i>crop-din</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-free"></i>crop-free</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-landscape"></i>crop-landscape</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-original"></i>crop-original</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-portrait"></i>crop-portrait</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-rotate"></i>crop-rotate</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-crop-square"></i>crop-square</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-dashboard"></i>dashboard</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-data-usage"></i>data-usage</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-date-range"></i>date-range</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-dehaze"></i>dehaze</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-delete"></i>delete</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-delete-forever"></i>delete-forever</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-delete-sweep"></i>delete-sweep</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-description"></i>description</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-desktop-mac"></i>desktop-mac</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-desktop-windows"></i>desktop-windows</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-details"></i>details</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-developer-board"></i>developer-board</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-developer-mode"></i>developer-mode</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-device-hub"></i>device-hub</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-devices"></i>devices</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-devices-other"></i>devices-other</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-dialer-sip"></i>dialer-sip</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-dialpad"></i>dialpad</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions"></i>directions</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-bike"></i>directions-bike</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-boat"></i>directions-boat</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-bus"></i>directions-bus</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-car"></i>directions-car</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-railway"></i>directions-railway</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-run"></i>directions-run</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-subway"></i>directions-subway</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-transit"></i>directions-transit</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-directions-walk"></i>directions-walk</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-disc-full"></i>disc-full</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-dns"></i>dns</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-do-not-disturb"></i>do-not-disturb</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-do-not-disturb-alt"></i>do-not-disturb-alt</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-do-not-disturb-off"></i>do-not-disturb-off</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-do-not-disturb-on"></i>do-not-disturb-on</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-dock"></i>dock</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-domain"></i>domain</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-done"></i>done</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-done-all"></i>done-all</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-donut-large"></i>donut-large</div>
                        <div class="ui-g-12 ui-md-2"><i class="pi pi-donut-small"></i>donut-small</div>

                </div>
        </div>
    </div>
</div>
