i{
    font-size: 55px;
}
.icons-container{
    width:130px;
    height:90px;
    float:left;
    border:1px solid silver;
    padding: 10px;
    margin: 3px;
    text-align: center;
}
.names{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 15px;
    font-weight: 450;
}
.code{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 300;
}
