
<h1> Prime Icons </h1>

<div class="icons-container"><i class="pi pi-mobile              "></i> <div class="names">mobile               </div><div class="code">e982</div></div>
<div class="icons-container"><i class="pi pi-tablet              "></i> <div class="names">tablet               </div><div class="code">e983</div></div>
<div class="icons-container"><i class="pi pi-key                 "></i> <div class="names">key                  </div><div class="code">e981</div></div>
<div class="icons-container"><i class="pi pi-shopping-cart       "></i> <div class="names">shopping-cart        </div><div class="code">e980</div></div>
<div class="icons-container"><i class="pi pi-comments            "></i> <div class="names">comments             </div><div class="code">e97e</div></div>
<div class="icons-container"><i class="pi pi-comment             "></i> <div class="names">comment              </div><div class="code">e97f</div></div>
<div class="icons-container"><i class="pi pi-briefcase           "></i> <div class="names">briefcase            </div><div class="code">e97d</div></div>
<div class="icons-container"><i class="pi pi-bell                "></i> <div class="names">bell                 </div><div class="code">e97c</div></div>
<div class="icons-container"><i class="pi pi-paperclip           "></i> <div class="names">paperclip            </div><div class="code">e97b</div></div>
<div class="icons-container"><i class="pi pi-share-alt           "></i> <div class="names">share alt            </div><div class="code">e97a</div></div>
<div class="icons-container"><i class="pi pi-envelope            "></i> <div class="names">envelope             </div><div class="code">e979</div></div>
<div class="icons-container"><i class="pi pi-volume-down         "></i> <div class="names">volume down          </div><div class="code">e976</div></div>
<div class="icons-container"><i class="pi pi-volume-up           "></i> <div class="names">volume up            </div><div class="code">e977</div></div>
<div class="icons-container"><i class="pi pi-volume-off          "></i> <div class="names">volume off           </div><div class="code">e978</div></div>
<div class="icons-container"><i class="pi pi-eject               "></i> <div class="names">eject                </div><div class="code">e975</div></div>
<div class="icons-container"><i class="pi pi-money-bill          "></i> <div class="names">money bill           </div><div class="code">e974</div></div>
<div class="icons-container"><i class="pi pi-images              "></i> <div class="names">images               </div><div class="code">e973</div></div>
<div class="icons-container"><i class="pi pi-image               "></i> <div class="names">image                </div><div class="code">e972</div></div>
<div class="icons-container"><i class="pi pi-sign-in             "></i> <div class="names">sign in              </div><div class="code">e970</div></div>
<div class="icons-container"><i class="pi pi-sign-out            "></i> <div class="names">sign out             </div><div class="code">e971</div></div>
<div class="icons-container"><i class="pi pi-wifi                "></i> <div class="names">wifi                 </div><div class="code">e96f</div></div>
<div class="icons-container"><i class="pi pi-sitemap             "></i> <div class="names">sitemap              </div><div class="code">e96e</div></div>
<div class="icons-container"><i class="pi pi-chart-bar           "></i> <div class="names">chart bar            </div><div class="code">e96d</div></div>
<div class="icons-container"><i class="pi pi-camera              "></i> <div class="names">camera               </div><div class="code">e96c</div></div>
<div class="icons-container"><i class="pi pi-dollar              "></i> <div class="names">dollar               </div><div class="code">e96b</div></div>
<div class="icons-container"><i class="pi pi-lock-open           "></i> <div class="names">lock open            </div><div class="code">e96a</div></div>
<div class="icons-container"><i class="pi pi-table               "></i> <div class="names">table                </div><div class="code">e969</div></div>
<div class="icons-container"><i class="pi pi-map-marker          "></i> <div class="names">map marker           </div><div class="code">e968</div></div>
<div class="icons-container"><i class="pi pi-list                "></i> <div class="names">list                 </div><div class="code">e967</div></div>
<div class="icons-container"><i class="pi pi-eye-slash           "></i> <div class="names">eye slash            </div><div class="code">e965</div></div>
<div class="icons-container"><i class="pi pi-eye                 "></i> <div class="names">eye                  </div><div class="code">e966</div></div>
<div class="icons-container"><i class="pi pi-folder-open         "></i> <div class="names">folder open          </div><div class="code">e964</div></div>
<div class="icons-container"><i class="pi pi-folder              "></i> <div class="names">folder               </div><div class="code">e963</div></div>
<div class="icons-container"><i class="pi pi-video               "></i> <div class="names">video                </div><div class="code">e962</div></div>
<div class="icons-container"><i class="pi pi-inbox               "></i> <div class="names">inbox                </div><div class="code">e961</div></div>
<div class="icons-container"><i class="pi pi-lock                "></i> <div class="names">lock                 </div><div class="code">e95f</div></div>
<div class="icons-container"><i class="pi pi-unlock              "></i> <div class="names">unlock               </div><div class="code">e960</div></div>
<div class="icons-container"><i class="pi pi-tags                "></i> <div class="names">tags                 </div><div class="code">e95d</div></div>
<div class="icons-container"><i class="pi pi-tag                 "></i> <div class="names">tag                  </div><div class="code">e95e</div></div>
<div class="icons-container"><i class="pi pi-power-off           "></i> <div class="names">power off            </div><div class="code">e95c</div></div>
<div class="icons-container"><i class="pi pi-save                "></i> <div class="names">save                 </div><div class="code">e95b</div></div>
<div class="icons-container"><i class="pi pi-question-circle     "></i> <div class="names">question circle      </div><div class="code">e959</div></div>
<div class="icons-container"><i class="pi pi-question            "></i> <div class="names">question             </div><div class="code">e95a</div></div>
<div class="icons-container"><i class="pi pi-copy                "></i> <div class="names">copy                 </div><div class="code">e957</div></div>
<div class="icons-container"><i class="pi pi-file                "></i> <div class="names">file                 </div><div class="code">e958</div></div>
<div class="icons-container"><i class="pi pi-clone               "></i> <div class="names">clone                </div><div class="code">e955</div></div>
<div class="icons-container"><i class="pi pi-calendar-times      "></i> <div class="names">calendar times       </div><div class="code">e952</div></div>
<div class="icons-container"><i class="pi pi-calendar-minus      "></i> <div class="names">calendar minus       </div><div class="code">e953</div></div>
<div class="icons-container"><i class="pi pi-calendar-plus       "></i> <div class="names">calendar plus        </div><div class="code">e954</div></div>
<div class="icons-container"><i class="pi pi-ellipsis-v          "></i> <div class="names">ellipsis v           </div><div class="code">e950</div></div>
<div class="icons-container"><i class="pi pi-ellipsis-h          "></i> <div class="names">ellipsis h           </div><div class="code">e951</div></div>
<div class="icons-container"><i class="pi pi-bookmark            "></i> <div class="names">bookmark             </div><div class="code">e94e</div></div>
<div class="icons-container"><i class="pi pi-globe               "></i> <div class="names">globe                </div><div class="code">e94f</div></div>
<div class="icons-container"><i class="pi pi-replay              "></i> <div class="names">replay               </div><div class="code">e94d</div></div>
<div class="icons-container"><i class="pi pi-filter              "></i> <div class="names">filter               </div><div class="code">e94c</div></div>
<div class="icons-container"><i class="pi pi-print               "></i> <div class="names">print                </div><div class="code">e94b</div></div>
<div class="icons-container"><i class="pi pi-align-right         "></i> <div class="names">align right          </div><div class="code">e946</div></div>
<div class="icons-container"><i class="pi pi-align-left          "></i> <div class="names">align left           </div><div class="code">e947</div></div>
<div class="icons-container"><i class="pi pi-align-center        "></i> <div class="names">align center         </div><div class="code">e948</div></div>
<div class="icons-container"><i class="pi pi-align-justify       "></i> <div class="names">align justify        </div><div class="code">e949</div></div>
<div class="icons-container"><i class="pi pi-cog                 "></i> <div class="names">cog                  </div><div class="code">e94a</div></div>
<div class="icons-container"><i class="pi pi-cloud-download      "></i> <div class="names">cloud download       </div><div class="code">e943</div></div>
<div class="icons-container"><i class="pi pi-cloud-upload        "></i> <div class="names">cloud upload         </div><div class="code">e944</div></div>
<div class="icons-container"><i class="pi pi-cloud               "></i> <div class="names">cloud                </div><div class="code">e945</div></div>
<div class="icons-container"><i class="pi pi-pencil              "></i> <div class="names">pencil               </div><div class="code">e942</div></div>
<div class="icons-container"><i class="pi pi-users               "></i> <div class="names">users                </div><div class="code">e941</div></div>
<div class="icons-container"><i class="pi pi-clock               "></i> <div class="names">clock                </div><div class="code">e940</div></div>
<div class="icons-container"><i class="pi pi-user-minus          "></i> <div class="names">user minus           </div><div class="code">e93e</div></div>
<div class="icons-container"><i class="pi pi-user-plus           "></i> <div class="names">user plus            </div><div class="code">e93f</div></div>
<div class="icons-container"><i class="pi pi-trash               "></i> <div class="names">trash                </div><div class="code">e93d</div></div>
<div class="icons-container"><i class="pi pi-external-link       "></i> <div class="names">external link        </div><div class="code">e93c</div></div>
<div class="icons-container"><i class="pi pi-window-maximize     "></i> <div class="names">window maximize      </div><div class="code">e93b</div></div>
<div class="icons-container"><i class="pi pi-window-minimize     "></i> <div class="names">window minimize      </div><div class="code">e93a</div></div>
<div class="icons-container"><i class="pi pi-refresh             "></i> <div class="names">refresh              </div><div class="code">e938</div></div>
<div class="icons-container"><i class="pi pi-user                "></i> <div class="names">user                 </div><div class="code">e939</div></div>
<div class="icons-container"><i class="pi pi-exclamation-triangle"></i> <div class="names">exclamation triangle </div><div class="code">e922</div></div>
<div class="icons-container"><i class="pi pi-calendar            "></i> <div class="names">calendar             </div><div class="code">e927</div></div>
<div class="icons-container"><i class="pi pi-chevron-circle-left "></i> <div class="names">chevron circle left  </div><div class="code">e928</div></div>
<div class="icons-container"><i class="pi pi-chevron-circle-down "></i> <div class="names">chevron circle down  </div><div class="code">e929</div></div>
<div class="icons-container"><i class="pi pi-chevron-circle-right"></i> <div class="names">chevron circle right </div><div class="code">e92a</div></div>
<div class="icons-container"><i class="pi pi-chevron-circle-up   "></i> <div class="names">chevron circle up    </div><div class="code">e92b</div></div>
<div class="icons-container"><i class="pi pi-angle-double-down   "></i> <div class="names">angle double down    </div><div class="code">e92c</div></div>
<div class="icons-container"><i class="pi pi-angle-double-left   "></i> <div class="names">angle double left    </div><div class="code">e92d</div></div>
<div class="icons-container"><i class="pi pi-angle-double-right  "></i> <div class="names">angle double right   </div><div class="code">e92e</div></div>
<div class="icons-container"><i class="pi pi-angle-double-up     "></i> <div class="names">angle double up      </div><div class="code">e92f</div></div>
<div class="icons-container"><i class="pi pi-angle-down          "></i> <div class="names">angle down           </div><div class="code">e930</div></div>
<div class="icons-container"><i class="pi pi-angle-left          "></i> <div class="names">angle left           </div><div class="code">e931</div></div>
<div class="icons-container"><i class="pi pi-angle-right         "></i> <div class="names">angle right          </div><div class="code">e932</div></div>
<div class="icons-container"><i class="pi pi-angle-up            "></i> <div class="names">angle up             </div><div class="code">e933</div></div>
<div class="icons-container"><i class="pi pi-upload              "></i> <div class="names">upload               </div><div class="code">e934</div></div>
<div class="icons-container"><i class="pi pi-download            "></i> <div class="names">download             </div><div class="code">e956</div></div>
<div class="icons-container"><i class="pi pi-ban                 "></i> <div class="names">ban                  </div><div class="code">e935</div></div>
<div class="icons-container"><i class="pi pi-star-o              "></i> <div class="names">star o               </div><div class="code">e936</div></div>
<div class="icons-container"><i class="pi pi-star                "></i> <div class="names">star                 </div><div class="code">e937</div></div>
<div class="icons-container"><i class="pi pi-chevron-left        "></i> <div class="names">chevron left         </div><div class="code">e900</div></div>
<div class="icons-container"><i class="pi pi-chevron-right       "></i> <div class="names">chevron right        </div><div class="code">e901</div></div>
<div class="icons-container"><i class="pi pi-chevron-down        "></i> <div class="names">chevron down         </div><div class="code">e902</div></div>
<div class="icons-container"><i class="pi pi-chevron-up          "></i> <div class="names">chevron up           </div><div class="code">e903</div></div>
<div class="icons-container"><i class="pi pi-caret-left          "></i> <div class="names">caret left           </div><div class="code">e904</div></div>
<div class="icons-container"><i class="pi pi-caret-right         "></i> <div class="names">caret right          </div><div class="code">e905</div></div>
<div class="icons-container"><i class="pi pi-caret-down          "></i> <div class="names">caret down           </div><div class="code">e906</div></div>
<div class="icons-container"><i class="pi pi-caret-up            "></i> <div class="names">caret up             </div><div class="code">e907</div></div>
<div class="icons-container"><i class="pi pi-search              "></i> <div class="names">search               </div><div class="code">e908</div></div>
<div class="icons-container"><i class="pi pi-check               "></i> <div class="names">check                </div><div class="code">e909</div></div>
<div class="icons-container"><i class="pi pi-check-circle        "></i> <div class="names">check circle         </div><div class="code">e90a</div></div>
<div class="icons-container"><i class="pi pi-times               "></i> <div class="names">times                </div><div class="code">e90b</div></div>
<div class="icons-container"><i class="pi pi-times-circle        "></i> <div class="names">times circle         </div><div class="code">e90c</div></div>
<div class="icons-container"><i class="pi pi-plus                "></i> <div class="names">plus                 </div><div class="code">e90d</div></div>
<div class="icons-container"><i class="pi pi-plus-circle         "></i> <div class="names">plus circle          </div><div class="code">e90e</div></div>
<div class="icons-container"><i class="pi pi-minus               "></i> <div class="names">minus                </div><div class="code">e90f</div></div>
<div class="icons-container"><i class="pi pi-minus-circle        "></i> <div class="names">minus circle         </div><div class="code">e910</div></div>
<div class="icons-container"><i class="pi pi-circle-on           "></i> <div class="names">circle on            </div><div class="code">e911</div></div>
<div class="icons-container"><i class="pi pi-circle-off          "></i> <div class="names">circle off           </div><div class="code">e912</div></div>
<div class="icons-container"><i class="pi pi-sort-down           "></i> <div class="names">sort down            </div><div class="code">e913</div></div>
<div class="icons-container"><i class="pi pi-sort-up             "></i> <div class="names">sort up              </div><div class="code">e914</div></div>
<div class="icons-container"><i class="pi pi-sort                "></i> <div class="names">sort                 </div><div class="code">e915</div></div>
<div class="icons-container"><i class="pi pi-step-backward       "></i> <div class="names">step backward        </div><div class="code">e916</div></div>
<div class="icons-container"><i class="pi pi-step-forward        "></i> <div class="names">step forward         </div><div class="code">e917</div></div>
<div class="icons-container"><i class="pi pi-th-large            "></i> <div class="names">th large             </div><div class="code">e918</div></div>
<div class="icons-container"><i class="pi pi-arrow-down          "></i> <div class="names">arrow down           </div><div class="code">e919</div></div>
<div class="icons-container"><i class="pi pi-arrow-left          "></i> <div class="names">arrow left           </div><div class="code">e91a</div></div>
<div class="icons-container"><i class="pi pi-arrow-right         "></i> <div class="names">arrow right          </div><div class="code">e91b</div></div>
<div class="icons-container"><i class="pi pi-arrow-up            "></i> <div class="names">arrow up             </div><div class="code">e91c</div></div>
<div class="icons-container"><i class="pi pi-bars                "></i> <div class="names">bars                 </div><div class="code">e91d</div></div>
<div class="icons-container"><i class="pi pi-arrow-circle-down   "></i> <div class="names">arrow circle down    </div><div class="code">e91e</div></div>
<div class="icons-container"><i class="pi pi-arrow-circle-left   "></i> <div class="names">arrow circle left    </div><div class="code">e91f</div></div>
<div class="icons-container"><i class="pi pi-arrow-circle-right  "></i> <div class="names">arrow circle right   </div><div class="code">e920</div></div>
<div class="icons-container"><i class="pi pi-arrow-circle-up     "></i> <div class="names">arrow circle up      </div><div class="code">e921</div></div>
<div class="icons-container"><i class="pi pi-info                "></i> <div class="names">info                 </div><div class="code">e923</div></div>
<div class="icons-container"><i class="pi pi-info-circle         "></i> <div class="names">info circle          </div><div class="code">e924</div></div>
<div class="icons-container"><i class="pi pi-home                "></i> <div class="names">home                 </div><div class="code">e925</div></div>
<div class="icons-container"><i class="pi pi-spinner             "></i> <div class="names">pinner               </div><div class="code">e926</div></div>


